@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;1,100&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

body {
  background-image: url(../img/portada.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  background-color: rgba(217, 217, 217, 0.3960784314);
}

.logo {
  display: flex;
  justify-content: center;
  height: 100px;
  padding-bottom: 15px;
}

a {
  text-decoration: none;
  list-style-type: none;
  color: #000000;
}
a:hover {
  background-color: #000000;
  color: white;
  padding: 5px;
  transition-duration: 300ms;
  border-radius: 10px;
}

.redes-sociales {
  display: none;
}

.nav-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  list-style-type: none;
  gap: 10px;
}

@media (min-width: 577px) and (max-width: 1200px) {
  .logo {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 10px;
  }
  .nav-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(217, 217, 217, 0.4784313725);
  }
  a {
    color: #000000;
  }
}
@media (min-width: 1201px) {
  .logo {
    display: flex;
    flex-direction: row;
    height: 100px;
    margin-left: 10px;
  }
  .nav-lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    gap: 10px;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.2rem;
    justify-content: space-around;
    background-color: rgba(217, 217, 217, 0.4784313725);
  }
  a {
    color: #000000;
  }
  a:hover {
    background-color: #000000;
    color: white;
    padding: 7px;
    transition-duration: 300ms;
    border-radius: 10px;
    position: static;
  }
  .redes-sociales {
    width: 15px;
    display: flex;
    flex-direction: row;
  }
  .redes-media {
    display: flex;
    gap: 10px;
  }
}
.footer-black {
  height: 20px;
  gap: 80px;
  background-color: black;
  margin-top: 15px;
}

.footer-black2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: white;
  background-color: black;
}

.logo-blanco {
  display: flex;
  flex-direction: column;
  width: 120px;
}

.derechos-reservados {
  font-size: 0.7rem;
  text-align: center;
  color: white;
  background-color: black;
  padding: 10px;
}

.line2 {
  background-color: black;
  color: white;
  font-size: 0.3rem;
  align-items: center;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: space-around;
  color: rgb(0, 0, 0);
  background-color: rgba(217, 217, 217, 0.6039215686);
  width: 280px;
  height: 60px;
  align-items: center;
  border-radius: 15px;
  border: 2px solid black;
}

.btn-posicion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.ver-galeria {
  margin-top: 15px;
}

.portada-h2 {
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.portada-h3 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
}

.portada-h4 {
  text-align: justify;
  margin: 40px;
  font-size: 1.3rem;
}

.portada-frontal {
  width: 90%;
  border-radius: 40px;
  margin-bottom: 20px;
}

.imagen-inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portada-index2 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  height: 50vh;
  background-color: rgba(217, 217, 217, 0.6039215686);
}

.portada-index3 {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.parrafo-3 {
  font-size: 2rem;
}

.nombre-cita {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: bold;
}

.portada-index4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.1764705882);
}

.foto1 {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

@media (min-width: 1201px) {
  .negrilla {
    font-style: normal;
  }
  .portada-index {
    height: 92vh;
    display: flex;
    display: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }
  .portada-h2 {
    background-color: black;
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 2px;
    border-radius: 15px;
  }
  .portada-h3 {
    width: 700px;
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }
  .portada-h4 {
    width: 700px;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bolder;
    margin: 0;
  }
  .portada-frontal {
    width: 400px;
    border-radius: 40px;
  }
  .portada-texto {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
  }
  .imagen-inicio {
    display: flex;
    flex-direction: row;
  }
  .portada-index2 {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
  }
  .portada-h2-2 {
    font-size: 2rem;
  }
  .portada-index3 {
    padding: 200px;
  }
  .portada-index4 {
    display: flex;
    justify-content: center;
  }
}
.nosotros-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.foto-modelo {
  display: flex;
  width: 90%;
  align-items: center;
  border-radius: 30px;
}

.parrafo-somos {
  font-size: 1.3rem;
}

.fotografia-nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-nosotros {
  background-color: black;
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.h3-nosotros {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

.parrafo-nosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 20px;
}

@media (min-width: 1201px) {
  .nosotros-1 {
    height: 85vh;
    display: flex;
    flex-direction: row;
  }
  .parrafo-nosotros {
    width: 35vh;
    font-size: 1.5rem;
    padding: 10px;
  }
  .parrafo-somos {
    font-size: 1.8rem;
  }
  .informacion-nosotros {
    padding-left: 50px;
    padding-right: 50px;
  }
  .foto-modelo {
    width: 35vh;
  }
  .h3-nosotros {
    font-size: 2.7rem;
  }
  .portafolio-2 {
    margin-bottom: 20px;
  }
  .titulo-portafolio {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
  }
}
.foto-portafolio {
  width: 100%;
}

.portafolio-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.titulo-portafolio {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: rgba(34, 34, 34, 0.1764705882);
}

@media (min-width: 1201px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }
  .foto-principal {
    grid-column: span 2;
  }
  .portafolio-4 {
    height: 45vh;
    background-color: rgba(34, 34, 34, 0.1764705882);
    display: flex;
    flex-direction: row;
  }
  .videos-portafolio {
    width: 800px;
  }
}
.servicios-1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 15px;
}

.foto-modelo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
}
.foto-modelo:hover {
  transform: scale(1.04);
  transition-duration: 300ms;
}

.parrafo-fotografia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  align-items: center;
  padding: 20px;
}

.servicios-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.0901960784);
}

.logo-contacto {
  width: 100%;
}

.section-1 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.parrafo-contacto {
  margin-bottom: 25px;
}

.contacto-formulario {
  display: flex;
  flex-direction: column;
  background-color: rgba(170, 170, 170, 0.862745098);
  gap: 40px;
}

#nombre-usuario {
  display: flex;
  flex-direction: column;
  border: none;
  width: 300px;
  height: 30px;
}

#email-usuario {
  display: flex;
  flex-direction: column;
  border: none;
  width: 300px;
  height: 30px;
}

#number-usuario {
  display: flex;
  flex-direction: column;
  border: none;
  width: 300px;
  height: 30px;
}

#mensaje-usuario {
  display: flex;
  flex-direction: column;
  border: none;
  width: 300px;
}

.formulario-contacto {
  padding-left: 20px;
  padding-top: 10px;
}

#button-enviar {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 15px;
  background-color: #eeeeee;
  padding: 15px;
  margin: 15px;
  color: #000000;
  font-size: 1.5rem;
}

.formulario-contacto1 {
  display: flex;
  justify-content: end;
}

@media (min-width: 577px) and (max-width: 1200px) {
  .logo-contacto {
    width: 400px;
  }
  .parrafo-contacto {
    font-size: 1.4rem;
    padding-left: 100px;
    padding-right: 100px;
  }
  .contacto-formulario {
    border-radius: 20px;
  }
}
@media (min-width: 1201px) {
  .servicios-1 {
    display: flex;
    flex-direction: row;
  }
  .servicios-2 {
    display: flex;
    flex-direction: row;
  }
  .foto-modelo {
    margin: 0;
  }
  .section-1 {
    height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .logo-contacto {
    width: 400px;
  }
  .contacto-formulario {
    border-radius: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
