@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;1,100&display=swap');


*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}



body{
    background-image: url(../img/portada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
}

.header {
    background-color: #d9d9d965
}
.logo{
    display: flex;
    justify-content: center;
    height: 100px;
    padding-bottom: 15px;
}

a{ 
    text-decoration: none;
        list-style-type: none;
        color: #000000;
}


.redes-sociales {
    display: none;
}
.nav-lista {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    list-style-type: none;
    gap: 10px;
}

.portada-h2{
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 20px
}

.portada-h3{

    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
}

.portada-h4 {
    text-align: justify;
    margin: 40px;
    font-size: 1.3rem;

}

.btn {
    display: flex;
    justify-content: space-around;
    color: rgb(0, 0, 0);
    background-color: #d9d9d99a;
    width: 280px;
    height: 60px;
    align-items: center;
    border-radius: 15px;
    border: 2px solid black;
}




.btn-posicion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.portada-frontal{
    width: 90%;
    border-radius: 40px;
    margin-bottom: 20px;
}
.imagen-inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portada-index2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 50vh;
    background-color: #d9d9d99a;
}

.portada-index3 {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.parrafo-3 {
    font-size: 2rem;
}

.nombre-cita {
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
}

.portada-index4{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #d9d9d92d;
}

.foto1 {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.container {
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
}

.container > .foto1{
    min-width: 100%;
    scroll-snap-align: start;
}

.ver-galeria {
    margin-top: 15px;
}
.footer-black{

    height: 20px;
    gap: 80px;
    background-color: black;
    margin-top: 15px;
}

.footer-black2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    background-color: black;
}

.logo-blanco{
    display: flex;
    flex-direction: column;
        width: 120px;
    
    }

.derechos-reservados{

    font-size: 0.7rem;
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}

.line2 {
    background-color: black;
    color: white;
    font-size: 0.3rem;
    align-items: center;
    text-align: center;
}

.nosotros-1{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.foto-modelo {
    display: flex;
    width: 90%;
    align-items: center;
    border-radius: 30px;
}

.fotografia-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-nosotros {
    background-color: black;
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 20px
}

.h3-nosotros {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.parrafo-nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 20px;
}

.foto-portafolio {
    width: 100%;
}
.portafolio-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titulo-portafolio {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: #2222222d;
}

.servicios-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15px;
}

.foto-modelo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
}

.parrafo-fotografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 20px;

}
.servicios-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22222217;
}

.logo-contacto {
    width: 100%;
}

.section-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.parrafo-contacto{
    margin-bottom: 25px;
}

.contacto-formulario{
    display: flex;
    flex-direction: column;
    background-color: #aaaaaadc;
    gap: 40px;
}

#nombre-usuario{
    display: flex;
    flex-direction: column;
    border: none;
    width: 300px;
    height: 30px;
}

#email-usuario {
    display: flex;
    flex-direction: column;
    border: none;
    width: 300px;
    height: 30px;

}

#number-usuario {
    display: flex;
    flex-direction: column;
    border: none;
    width: 300px;
    height: 30px;

}

#mensaje-usuario {
    display: flex;
    flex-direction: column;
    border: none;
    width: 300px;
}
.formulario-contacto {
    padding-left: 20px;
    padding-top: 10px;

}

#button-enviar {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 15px;
    background-color: #eeeeee;
    padding: 15px;
    margin: 15px;
    color: #000000;
    font-size: 1.5rem;
}

.formulario-contacto1 {
    display: flex;
    justify-content: end;
}

@media (min-width:577px) and (max-width:1200px){
    .logo{
        display: flex;
        flex-direction: row;
        height: 100px;
        margin-left: 10px;
        
    }
    .nav-lista {
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
        gap: 10px;
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #d9d9d97a
    }

    a {
        color: #000000;
    }

    .logo-contacto{
        width: 400px;
    }
    
    .contacto-formulario {
        border-radius: 20px;

    }
    }

    @media (min-width:1201px) and (max-width:1400px) {
        .logo{
            display: flex;
            flex-direction: row;
            height: 100px;
            margin-left: 10px;
            
        }
        .nav-lista {
            display: flex;
            flex-direction: row;
            align-items: center;
            list-style-type: none;
            gap: 10px;
        }
    
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2rem;
            justify-content: space-around;
            background-color: #d9d9d97a
        }
    
        a {
            color: #000000;
        }
    
        .logo-contacto{
            width: 400px;
        }
        
        .contacto-formulario {
            border-radius: 20px;
    
        }

        .redes-sociales {
            width: 15px;
            display: flex;
            flex-direction: row;
        }

        .redes-media {
            display: flex;
            gap: 10px;
        }

        .negrilla {
            font-style: normal;
        }

        .portada-index {
            height: 92vh;
            display: flex;
            display: row;
            justify-content: space-around;
            align-items: center;
            text-align: center;
        }
        
        .portada-h2{
            background-color: black;
            
            color: white;
            font-size: 3rem;
            text-align: center;
            padding: 2px;
            border-radius: 15px;
        
        }
        
        
        .portada-h3{
            width: 700px;
            font-size: 2rem;
            text-align: center;
            padding: 0;
        }
        
        .portada-h4 {
            width:700px;
            text-align: center;
            font-size: 1.5rem;
            font-style: italic;
            font-weight: bolder;
            margin: 0;
        
        }
        .portada-frontal{

            width: 400px;
            border-radius: 40px;
        }
        .portada-texto{
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            gap: 10px;
        }

        .imagen-inicio {
            display: flex;
            flex-direction: row;
        }

        .portada-index2 {
            display: flex;
            flex-direction: row;
            font-size: 1.4rem;
        }

        .portada-h2-2 {
            font-size: 2rem;
        }

        .portada-index3 {
            padding: 200px;
        }

        .portada-index4 {
            display: flex;
            justify-content: center;
        }

        .container{
            display: flex;
            justify-content: center;
        }
        .nosotros-1 {
            height: 85vh;
            display: flex;
            flex-direction: row;
        }

        .parrafo-nosotros{
            width: 35vh;
            font-size: 1.5rem;
        }

        .foto-modelo {
            width: 35vh;
        }

        .h3-nosotros {
            font-size: 2.7rem;
        }

        .portafolio-2 {
            margin-bottom: 20px;

        }

        .titulo-portafolio{
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
        }

        .container{
            display: grid;
            grid-gap: 15px;
            grid-template-columns: 1fr 1fr;
        }

        .foto-principal {
            grid-column:  span 2;
        }

        .portafolio-4 {
            height: 45vh;
            background-color: #2222222d;
            display: flex;
            flex-direction: row;
        }

        .videos-portafolio {
            width: 800px;
            
        }

        .servicios-1 {
            display: flex;
            flex-direction: row;
        }

        .servicios-2 {
            display: flex;
            flex-direction: row;
        }

        .foto-modelo {
            margin: 0;
        }

        .section-1 {
            height: 85vh;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }

        .parrafo-nosotros {
            padding: 0;
        }

        .logo-contacto {
            width: 250px;
        }
    }