@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100;0,400;0,500;0,800;1,100&display=swap');


*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}



body{
    background-image: url(../img/portada.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    
} 

// Variables 

$color-fondo: #d9d9d97a;
$color-texto-principal: #000000;
$color-texto-secundario: #ffffff;