.foto-portafolio {
    width: 100%;
}
.portafolio-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.titulo-portafolio {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: $color-fondo;
}

@media (min-width:1201px) {



    .container{
        display: flex;
        justify-content: center;
    }

    .container{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }

    .foto-principal {
        grid-column:  span 2;
    }



    .portafolio-4 {
        height: 45vh;
        background-color: $color-fondo;
        display: flex;
        flex-direction: row;
    }

    .videos-portafolio {
        width: 800px;
        
    }
    
    }