.servicios-1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 15px;
}

.foto-modelo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;

    &:hover {
    transform: scale(1.04);
    transition-duration: 300ms;
    }
}

.parrafo-fotografia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    align-items: center;
    padding: 20px;

}
.servicios-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #22222217;
}
