.btn {
    display: flex;
    justify-content: space-around;
    color: $color-texto-principal;
    background-color: $color-fondo;
    width: 280px;
    height: 60px;
    align-items: center;
    border-radius: 15px;
    border: 2px solid $color-texto-principal;

    &:hover {
        color: $color-texto-secundario;
        background-color: $color-texto-principal;
        transition-duration: 300ms;
        transform:scale(1.05);
    }
}

.btn-posicion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.ver-galeria {
    margin-top: 15px;
}